h2 {
    font-size:1.5rem;
}

html {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
}

p {
    font-family: 'Merriweather', serif;
    align-self: flex-start;
    margin:2.5%;
    padding:5%;
    font-size:1rem;
}

body {
    display:flex;
    flex-direction:column;
    align-items:center;
    height:100%;
    width:100%;
    overflow: auto;
    overflow: scroll;
}

header {
    width:100%;
    height:4rem;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #8EC75A;
    font-size:2rem;
}

main {
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items:center;
    background-color: white;
    width: 100%;
    height: 100%;
}

img {
    width:60%
}

#warning {
    width:50%;
    padding:2rem;
}

a {
    width:90%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:2rem;
}

.icon {
    display:flex;
    justify-content: center;
    align-items: center;
}

.top_icon {
    display:block;
    position:absolute;
    margin:0;
    width:2rem;
    height:2rem;
    top:1rem;
    left:1rem;
}

.next {
    background-color: #8EC75A;
    width:5rem;
    height:3rem;
    position:fixed;
    right:0;
    bottom:0;
}

.option {
    margin:0.5rem;
    padding:1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    width: 80%;
    background-color: #FCCD68;
}

.form {
    padding-bottom: 0.3rem;
    margin-top:1rem;
    margin-bottom:0;
}

.previous {
    display:flex;
    width: 85%;
    justify-content: space-between;
}

.idade {
    width:3rem;
    align-self:flex-start;
    margin-left:7.5%;
}

select {
    width:85%;
}

.specific {
    width:48%;
}

.more {
    display:flex;
    align-items:center;
    justify-content:center;
    border:0.1rem solid grey;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
    width:80%;
}

.cargo, .salario {
    font-size:0.7rem;
    padding:0rem;
    margin:0.3rem 0;
}

.detalhes {
    position:relative;
    background-color: #8EC75A;
    margin:0;
    width:19%;
    height:55%;
    left:87.7%;
    bottom:1rem;
}

.details_next {
    width:50%;
}

.topic{
    padding-bottom: 0.3rem;
    margin-top:1rem;
    margin-bottom:0;
}

.curriculo{
    padding-bottom: 0.3rem;
    margin-top:1rem;
    margin-bottom:0;
    border:0.1rem solid grey;
    margin-top: 3rem;
}

.circle_arrow{
    width:3rem;
    height:3rem;
    top:1rem;
    left:80%;
    margin-left: 60%;
    margin-bottom:5%;
}

.border{
    padding-bottom: 0.3rem;
    margin-top:1rem;
    border:0.1rem solid black;
    margin-top: 2rem;
    width:8rem;
    height:2rem;
    top:1rem;
}